In [10]:
import pandas as pd
import numpy as np

## Q1. Pandas version

In [11]:
pd.__version__

'2.2.2'

In [12]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv")

In [14]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

## Q2. Records count

In [15]:
df.shape[0]

2160

## Q3. Laptop brands

In [32]:
df.Brand.nunique()

27

## Q4. Missing values

In [30]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

## Q5. Maximum final price

In [33]:
df[df.Brand == 'Dell']['Final Price'].max()

3936.0

## Q6. Median value of Screen

In [34]:
df['Screen'].median()

15.6

In [35]:
df['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [38]:
df['Screen'] = df['Screen'].fillna(df['Screen'].mode())

In [39]:
df['Screen'].median()

15.6

## Q7. Sum of weights

1. Select all the "Innjoo" laptops from the dataset.2. 
Select only columns RAM, Storage, Screen
3. 
Get the underlying NumPy array. Let's call it 
4. .
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result X
5. X.
Invert 
6. TX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1
7. 00].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the res
8. lt w.
What's the sum of all the elements of the result?

In [40]:
innjoo_df = df[df.Brand == 'Innjoo']
innjoo_df = innjoo_df[['RAM', 'Storage', 'Screen']]

In [41]:
innjoo_df

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [42]:
X = innjoo_df.values

In [43]:
XTX = X.T.dot(X)

In [45]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [46]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [47]:
w = (XTX_inv @ X.T) @ y

In [48]:
w

array([45.58076606,  0.42783519, 45.29127938])

In [49]:
sum(w)

91.29988062995815